@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
 
}
main form {
    display: flex;
    flex-direction: column;
}
main form input {
    width: fit-content;
}
main form button {
    width: fit-content;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: .25rem;
    color: black;
}